<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Store Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Welcome to L Store</h1>
<div id="container">
    <ul>
        <th:block th:each="g:${goodsList}">
            <li>
                <div class="info">
                    <p>
                        名称：
                        <span th:text="${g.getName()}"></span>
                    </p>
                    <p>
                        价格：
                        <span th:text="${g.getPrice()}"></span>
                    </p>
                    <p>
                        <a href="favorite">Add to favorite</a>
                    </p>
                </div>
            </li>
        </th:block>
    </ul>
</div>


<span th:text="${consumer.getUsername()}"></span>
<a th:href="@{/logout(name=${consumer.getUsername()})}">Logout</a>
</body>
</html>
