# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Code\Java\JavaWeb(IDEA)\From Book\Java for Web Applications\Chapter9\Compression-Filter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
